/* Register Page Styles */
.register-container {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.register-container .background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.register-container .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.register-container .shape-first {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.register-container .shape-last {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

.register-container form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  padding: 40px 30px;
  z-index: 1;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.register-container form h3 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.register-container form label {
  font-size: 16px;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.register-container form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.register-container form small {
  display: block;
  font-size: 12px;
  color: #bbb;
}

.register-container form button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #ff512f, #f09819);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.register-container form button:hover {
  background: linear-gradient(to right, #ff512f, #f2bc77);
}

.register-container .login-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.register-container .login-link a {
  color: blue;
  text-decoration: none;
}

.register-container .login-link a:hover {
  text-decoration: underline;
}
