/* Success Box */
#success-box {
  position: relative;
  width: 350px;
  height: 300px;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
  margin: 50px auto;
  perspective: 40px;
}

/* Error Box */
#error-box {
  position: relative;
  width: 350px;
  height: 300px;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
  margin: 50px auto;
}

/* Common Styles */
.dot {
  width: 8px;
  height: 8px;
  background: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
  cursor: pointer;
}

.dot:hover {
  background: #d8d8d8;
}

.dot.two {
  right: 12%;
  opacity: 0.5;
}

.face, .face2 {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  z-index: 2;
}

.face {
  animation: bounce 1s ease-in infinite;
  left: 25%;
}

.face2 {
  animation: roll 3s ease-in-out infinite;
  left: 25%;
}

.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.eye.right {
  left: 68%;
}

.mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #777777 #777777 transparent;
  transform: rotate(45deg);
}

.sad {
  top: 49%;
  border: 2px solid;
  border-color: #777777 transparent transparent #777777;
  transform: rotate(45deg);
}

.shadow {
  position: absolute;
  width: 60px;
  height: 5px;
  opacity: 0.5;
  background: #777777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}

.scale {
  animation: scale 1s ease-in infinite;
}

.move {
  animation: move 3s ease-in-out infinite;
}

/* Animations */
@keyframes bounce {
  50% { transform: translateY(-10px); }
}

@keyframes scale {
  50% { transform: scale(0.9); }
}

@keyframes roll {
  0% { transform: rotate(0deg); left: 25%; }
  50% { left: 60%; transform: rotate(168deg); }
  100% { transform: rotate(0deg); left: 25%; }
}

@keyframes move {
  0% { left: 25%; }
  50% { left: 60%; }
  100% { left: 25%; }
}