h1{
    font-size: 45px;
    font-weight: 700;
}
.course-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block: 50px !important;
}
.course-component{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.comp{
    width: 100%;
    display: flex;
    background: black;
    /* height: 500px; */

}
.comp-img{
    border: 1px solid white;

}
.comp-img-1{
    background: url(../../../images/thumb1.jpeg) no-repeat center;
    background-size: cover;
}
.comp-heading h1{
    font-size: 35px;
    
}
.comp-heading p{
    line-height: 40px;
    
}

@media (max-width:500px) {
    .com-img-height{
        height: 100% !important;
    }
}